<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studentManager.user.mapper.TsMapper">


    <select id="getProvince" resultType="com.studentManager.user.entry.RegionEntry">
        select * from region
        where level_id=1
    </select>

    <select id="getCity" resultType="com.studentManager.user.entry.RegionEntry">
        select s.* from region s
        left join region t on t.id=s.parent_id
        where t.cname=#{provinceName}
    </select>

    <select id="getArea" resultType="com.studentManager.user.entry.RegionEntry">
        select s.* from region s
        left join region t on t.id=s.parent_id
        where t.cname=#{cityName}
    </select>


</mapper>